<div class="row">
  <div class="col-xs-6 col-md-2">
    <a href="/demos/new" class="thumbnail">
      <div style="height: 150px;" class="glyphicon glyphicon-plus">
      		创建弹幕活动
      </div>
    </a>
  </div>
</div>