 <% @demos.each do |demo|%>
	<tr>
		<td><%=demo.name %></td>
		<td><%=demo.started_at %></td>
		<td><%= link_to '查看', demo_path(demo) %></td>
		<td><%= link_to '弹幕页面', white_demo_path(demo) %></td>
	</tr>
<% end %>