<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>弹幕</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="http://wangju.tv/assets/danmu/style.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="http://wangju.tv/assets/danmu/CommentCoreLibrary.js"></script>
  <script src="http://wangju.tv:9292/faye/faye.js" type="text/javascript"></script>
  <style type="text/css">
      body{
        margin: 0px;
      }
  </style>
</head>
<body>
  <div id="player-unit" style="width: 100%;">
  <div class="m20 abp" id="player" style="width: 100%;">
    <!--<div id="c-region" style="display:none;">640x480</div>-->
    <div id="commentCanvas" class="container" style="width: 100%; padding: 0px; margin: 0px;"></div>
    <div id="video-container"></div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
      var client = new Faye.Client("http://wangju.tv:9292/faye"), 
      channel = "/danmu/945833692",
      cm = new CommentManager(document.getElementById("commentCanvas"));
      window.cm = cm; 
      cm.init();
      cm.start();
      client.subscribe(channel, function(message){        
          cm.send({mode: message.mode, html: message.html});
      });
      var Options = <%= raw @demo.configration.to_json %>;
      (function(ops){
        handler(ops);
      })(Options);

function handler(ops){
    Options.moving = setInterval(function(){
        Api.get("/demos/moving", {
            id: ops.demo_id
          }, function(){
            //always
          }, function(data, status){
            // success
            if(data.success){
               if(data.config.is_started){
                    cm.options.scroll.scale = data.config.speed;
                    if(data.config.rate != Options.rate){
                      Options.rate = data.config.rate;
                      Options.model = data.conf.model;
                      clearInterval(Options.moving);
                      handler(data.config);
                    }             
                    cm.send({mode: Options.model, html: parseMessage2Html(data.message, data.config)});       
               }else{
                  clearInterval(Options.moving);
               }
            }
          }, function(){
            // fail
          }, function(){

          })
      }, ops.rate * 800);
}
function parseMessage2Html(msg, conf){
  var userAvatarStyle = "width: " + conf.font_size + "px;height:"+conf.font_size+"px;border-radius:50%;display:inline;";
  return (function(m){
    var html = '<div class="danmu col-sm-12 col-md-12" id="' + m.id + '">'+
        '<div class="avatar">'+(conf.show_user_avatar ? '<img src="/assets/rails.png" style="'+userAvatarStyle+'">' : ' ' )+ '</div>'+
          '<div class="content" style="line-height: '+ conf.font_size +'px;">'+
            '<div class="name" style="color: '+ getRandomColor() +'; font-size: '+ conf.font_size +'px;">'+(conf.show_user_name ? '用户名 :' : '')+' </div>' + 
            '<div class="message" style="color: '+ getRandomColor() +'; font-size: '+ conf.font_size +'px;">'+m.content+'</div>'+
          '</div>'+
        '</div>';
        return html;
  })(msg);
}

 var getRandomColor = function () {
      return  '#' +
        (function (color) {
          return (color += '0123456789abcdef'[Math.floor(Math.random() * 16)])
            && (color.length == 6) ? color : arguments.callee(color);
        })('');
    }

  function initSize(){ $("#video-container").height($(window).height()); }
      initSize();
      $(window).on('resize',initSize);
  })
</script>
</body>
</html>